.carousel {
  margin: 0 -9px;
  &__item {
    padding: 20px;
    background: #fff;
    border-radius: 30px;
    @media(min-width: 768px) {
      padding: 50px 30px;
    }
    &-text {
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.22px;
      color: #4D5053;
    }
    &-person {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
    }
    &-photo {
      width: 77px;
      height: 77px;
      display: block;
      margin-right: 20px;
    }
    &-title {
      font-family: $font-bold;
      font-size: 25px;
      line-height: 1.5;
      letter-spacing: 0.22px;
      color: #292F36;
      margin-bottom: 5px;
    }
    &-location {
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.22px;
      color: #4D5053;
    }
  }
}

.carousel .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  list-style: none;
}
.carousel .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 10px;
  background-color: #c4c4c4;
  width: 20px;
  height: 1px;
  @media(min-width: 992px) {
    width: 50px;
  }
}
.carousel .slick-active button {
  background-color: #CDA274;
  height: 3px;
}

.slick-slide {
  margin: 0 9px;
}