.menu {
  .burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    @media(min-width:768px){
      display: none;
    }
    span,
    &::before,
    &::after {
      content: "";
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.5s ease;
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
    &.active {
      span {
        transform: scale(0) translate(0px, -50%);
        background-color: #CDA274;
      }
      &::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color: #CDA274;
      }
      &::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        background-color: #CDA274;
      }
    }
  }
  &-body {
    @media(max-width:767px){
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      overflow: auto;
      transition: 0.5s ease;
      &.active {
        top: 0;
      }
    }
  }
  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    @media(max-width:767px){
      justify-content: center;
      height: 100vh;
      flex-direction: column;
    }
  }
  li {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    @media(min-width:768px){
      width: inherit;
      margin: 0 20px;
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
    &::after{
      position: absolute;
      content: '';
      background-color: #CDA274;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 3px;
      transition: 0.5s ease;
    }
    &:hover::after{
      @media(min-width:768px){
        width: 100%;
      }
    }
    &.active {
      color: #CDA274;
    }
  }
  &-link {
    display: block;
    text-decoration: none;
    font-family: 'Jost',sans-serif;
    line-height: 1.58;
    letter-spacing: 0.4px;
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 24px;
    @media(min-width:768px){
      font-size: 19px;
    }
    &:hover,
    &:active,
    &.active {
      color: #CDA274;
    }
  }
}
